@model IEnumerable<AIRA.UI.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<h2>Portfolio and risk analysis </h2>

<h4>Our Portfolio & Risk Analytics solution offers unparalleled transparency into every nuance of your portfolio. From historical risk and backtesting to up-to-the-microsecond news and alerts, you have a single, simple-to-use interface with a uniquely sophisticated tool set. Gain deeper insight into Value-at-Risk and forward-looking risk. Perform trade simulations and scenario analysis.</h4>
