
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<li><a href="http://stats.oecd.org/">Organization for Economic Cooperation and Development (OECD) Statistics – Global macroeconomic time series data.</a></li>
<li><a href="http://databank.worldbank.org/data/home.aspx">World Data Bank from the World Bank – Global macroeconomic time series data for different countries and indicators.</a></li>
<li><a href="http://www.imf.org/en/Data">International Monetary Fund Data and Statistics – Global macroeconomic time series data.</a></li>
<li><a href="http://www.bis.org/">Bank for International Settlements – Global financial time series data. </a></li>
<li><a href="https://fred.stlouisfed.org/">United States Federal Reserve Economic Data – U.S. time series data.</a></li>
<li><a href="https://www.ecb.europa.eu/stats/html/index.en.html">The European Central Bank (ECB)</a></li>
<li><a href="http://www.stat-search.boj.or.jp/index_en.html">BOJ's main statistical data</a></li>
<li><a href="http://www.bankofengland.co.uk/STATISTICS/Pages/default.aspx">Bank of England</a></li>
<li><a href="https://www.centralbank.ie/statistics">Central Bank of Ireland</a>