<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AIRA.UI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="ui-icon-home" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Portfolios" asp-action="Index">Portfolio</a></li>
                <li class="dropdown"> <a asp-area="" asp-controller="RiskManagements" asp-action="Index">Risk Management</a>
                    <div class="dropdown-content">
                        <a asp-controller="RiskManagements" asp-action="MarketRisk">Market Risk</a>
                        <a asp-controller="RiskManagements" asp-action="CollateralManagement">Collateral Management</a>
                        <a asp-controller="RiskManagements" asp-action="XVA">X-Value Adjustment (XVA)</a>
                        <a asp-controller="RiskManagements" asp-action="CounterpartyRisk">Counterparty Risk</a>
                    </div>
                </li>
                <li><a asp-area=" " asp-controller="Sales" asp-action="Index">Contact</a></li>
                <li><a asp-area="" asp-controller="Support" asp-action="Index">Support</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="News">News</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
