
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Collateral Management</h2>

<h3>Collateral Management has become the collective term for risk mitigation for a range of institutions.  The risk mitigation covers both exposure management and provision for liquidity risk and its increased activity has been driven by the regulation that has emerged in the aftermath of 2007-8 financial crisis.</h3>

<h3>Insights </h3>

<h4> The industry as a whole irrespective of organisation type face the following collateral management challenges:-

   <br/> Collateral set standardisation and pricing
<br />
    Collateral mobilisation and transformation
<br />
    Inventory management – overarching single pool view irrespective of custody location
<br />
    Valuation
<br />
    Eligibility
<br />
    Issuer/currency/domicile exposure across triparty agents
<br />
    Multi-location & multi-entity Liquid Asset Buffer adequacy (Treasurers) – Internal Liquidity Adequacy Assessment Process including stress testing
<br />
    Rehypothecable vs non-rehypothecable
<br />
    Collateral segregation
<br />
             Cash collateral
             <br /> Commingled & segregated funds (agent lenders)
            <br />
                 Cashpool management & billing
           <br />
          <br />
                 Regulation :
            <br /> OTC derivative margining (EMIR / BCBS IOSCO)
            <br />BASEL III (LCR, CAR, NSFR,RWA)
<br />
                 SFTR
             </h4>

