
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Stress Testing</h2>
<h3>AIRA helps financial institutions develop a collaborative, auditable, repeatable, and transparent stress testing program to meet regulatory expectations, inform the bank’s risk appetite framework, and improve strategic business decisions. </h3>

<h4> Stress testing and capital planning are increasingly linked to many risk management processes that require coordination across risk, treasury, and financial planning and analysis functions.</h4>

    <h4>Regulatory stress tests like CCAR, DFAST, ECB/EBA/SSM, and PRA have pushed banks toward the implementation of robust stress testing frameworks. </h4>

<h4> A successful stress testing program demands flawless integration and execution of numerous tasks, including program governance, process and results validation, documentation, data quality management, economic scenario development, expected loss modeling, forecasting, and reporting. Establishing an integrated approach to the use of stress testing results requires infrastructure, analytics, data, clear governance, and active participation of all stakeholders across divisions, business units and geographies. </h4>