
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAnalysis.cshtml";
}


<!-- Page Heading -->
<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>
<div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Multi-Asset Risk System</a>
                </h4>
                <p class="card-text">MARS Valuations is an enterprise solution that provides credible and complete valuations and Greeks for portfolios. It has comprehensive asset class coverage that encompasses a broad spectrum of financial instruments, including cash products, exchange-traded and over-the-counter derivatives, and structured products. Valuations are powered by a high-quality pricing library along with high-quality market data.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Front office risk </a>
                </h4>
                <p class="card-text">MARS Front Office provides a comprehensive suite of risk analytics that delivers consistency between risk and front office. With advanced scenario and stress test capabilities as well as streamlined workflow solutions, MARS Front Office contains everything you need to adapt to changing regulation and thrive in a challenging business landscape.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Market risk</a>
                </h4>
                <p class="card-text">In today’s complex and interconnected markets, both buy-side and sell-side firms need a powerful solution to monitor, assess and manage intraday and end-of-day risk. MARS Market Risk is a complete risk analytics and reporting solution designed for all risk managers, from the chief risk officer to the risk analyst.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">X-Value Adjustment (XVA) </a>
                </h4>
                <p class="card-text">Both front office traders and credit department risk managers can benefit from an enterprise-scale solution designed to help them comprehensively measure and manage the counterparty risk arising from OTC derivative portfolios. That’s what MARS XVA delivers, whether you’re calculating and hedging XVA, or managing a firm’s counterparty exposures. Our market-leading analytics enable quantification of the costs arising from counterparty credit, funding and capital in a holistic manner.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Collateral management </a>
                </h4>
                <p class="card-text">Bloomberg’s MARS Collateral Management seeks to provide our clients with a powerful tool to mitigate counterparty credit risk within the Bloomberg Professional service. It is an end-to-end collateral management and processing hub that provides clients with a straight-through automated solution to holistically manage and monitor their exposures and collateral positions.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Project Six</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Pagination -->
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>