
@{
    ViewData["Title"] = "Topic";
    Layout = "~/Views/Shared/_LayoutAnalysis.cshtml";
}

<h2>Company and industry analysis</h2>

<h3>Fundamental analysis</h3>
<h4>It helps to have deeper insight into risk factors before going all in. Get help gauging the value of any potential investment, partnership or acquisition target. Our financial analysis functionality delivers fundamentals, historical data, projections and context customizable to your needs. Innovative analytics allow a deeper grasp of the basics so you can make smarter recommendations to your firm.</h4>

<h3>Relative value analysis</h3>
<h4>Comparisons can be critical. The relative value tools we provide give you the ability to customize criteria for benchmarking company performance against comparable companies in the same industry. Choose from a variety of data sources and use your analysis to gauge an asset’s performance trends against its competitors.</h4>

